<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive"/>

    <!-- Bootstrap  -->
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.css}">
</head>

<body>
<div class="container vw-75">
    <div id="page" th:fragment="login(validationFailed)">
        <form id="login" name="login" class="container w-3 border border-primary"
              method="post" action="/darkenwald" th:action="@{/}">
            <fieldset>
                <legend>Anmeldung</legend>
                <div class="row gx-5 m-1">
                    <label for="playerName" class="form-label">Player name:</label>
                    <input type="text" name="playerName" id="playerName" class="form-control">
                </div>
                <div class="row gx-5 m-1">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <input type="submit" value="Submit" class="btn btn-primary float-right m-1">
            </fieldset>
        </form>
        <p th:if="${validationFailed}">Login failed. Please control the player name and the password</p>
        <a th:href="@{/registration}" class="link-primary d-flex justify-content-center">Ich habe noch keinen Account</a>
    </div>

    <!-- jQuery -->
    <script th:src="@{~/static/js/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{~/static/js/bootstrap.min.js}"></script>
    <!-- Main -->
    <script th:src="@{~/static/js/main.js}"></script>
</div>
</body>
</html>