<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive"/>

    <!-- Bootstrap  -->
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.css}">
</head>

<body>
<div th:fragment="messagePost(message)" class=>
    <div class="container border border-dark m-1">
        <div class="row">
            <div class="col-2 ">
                <div class="row m-1" th:text="${message.username}"></div>
                <div class="row m-1"><img th:src="@{/avatars/default_avatar.png}"></div>
            </div>
            <div class="col m-auto" th:text="${message.text}"></div>
        </div>
    </div>
</div>
<!-- jQuery -->
<script th:src="@{~/static/js/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{~/static/js/bootstrap.min.js}"></script>
<!-- Main -->
<script th:src="@{~/static/js/main.js}"></script>
</body>
</html>