<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Welcome to Darkenwald</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive"/>

    <!-- Bootstrap  -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <!-- master.css  -->
    <link rel="stylesheet" th:href="@{/css/master.css}">
    <!-- Bootstrap -->
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="fragments/header :: site-header()">
    <h2 th:text="|Its nice to see you ${playerInSession.name}|"></h2>
</div>
<div th:if="${playerInSession.isAdmin}">
    <p>This section only will be rendered if you are admin</p>
    <div th:insert="fragments/playerEdit :: playerEdit(${playerEntities})"></div>
</div>

<div class="container border border-dark p-2 overflow-auto" style="max-height: 50%">
    <div class="container border border-dark mb-2 ">
        <div th:each="message : ${messages}">
            <div th:insert="fragments/messagePost :: messagePost(${message})"></div>
        </div>
    </div>
    <form method="post" th:action="@{/darkenwald}" action="#" th:object="${postedMessage}">
        <textarea th:field="*{text}"></textarea>
        <button type="submit" value="Submit">Submit</button>
        <button type="reset" value="Reset">Reset</button>
    </form>
</div>
</body>
</html>