<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive"/>

    <!-- Bootstrap  -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../static/css/style.css.css">

</head>
<body>
<div th:insert="fragments/header :: site-header()"></div>

<div class="container-fluid">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Registriere dich in Darkenwald</h3>
                    <small>Willkommen im heimeligen Dorf</small>
                </div>
                <div class="panel-body">
                    <form role="form" method="post" th:action="@{/registration}" th:object="${player}" >
                        <div class="form-group">
                            <input type="text" name="player_name" id="player_name" class="form-control input-sm"
                                   placeholder="Player Name" th:field="*{name}">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-sm"
                                   placeholder="Email Address" th:field="*{mail}">
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password" id="password"
                                           class="form-control input-sm" placeholder="Password" th:field="*{password}">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password_confirmation" id="password_confirmation"
                                           class="form-control input-sm" placeholder="Confirm Password"th:field="*{password_confirmation}">
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Register" class="btn btn-info btn-block">
                    </form>
                    <li th:each="warning: ${warnings}">
                        <ul th:text="${warning}"></ul>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="../static/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>